.text-center {
    text-align: center;
}

.text-color {
    color: blueviolet;
}

.w-100 {
    width: 100%;
}

#vendor-form {
    #vendor-option {
          ::ng-deep.mat-form-field-flex {
            background: white !important;
            padding: 0 !important;
          }
    }
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}


.display-flex-content {
    display: flex;
    flex-direction: row;
}

.example-spacer {
    flex: 1 1 auto;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.color-text {
    color: #666666;
    font-size: 14px;
}


