<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()"><ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:center">Thêm mới</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button id="open-modal" (click)="confirm()">Xác nhận</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterItems($event)"
    placeholder="Tìm kiếm cửa hàng">
  </ion-searchbar>
  <ion-list lines="none">
    <ion-item button *ngFor="let item of filteredItems"
      style="width: 100%; border-bottom: 0.5px solid rgb(88, 83, 83);" (click)="addlist(item)">
      <ion-avatar slot="start">
        <ion-img src="{{ item.image ? BASE_SERVERS+item.image : imgDefault}}"></ion-img>
      </ion-avatar>
      <div class="itemInfo">
        <p>{{ item.itemcode }}</p>
        <p>{{ item.itemname }}</p>
      </div>
      <ion-checkbox slot="end" [checked]="item.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>