ion-list {
    position: relative;
    z-index: 20;
    font-size: 0.6cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 0;
    top: 30px;
    right: 0;
    bottom: 0px;
    z-index: 1;
    ion-item{
        --box-shadow: 0 0px 5px 5px rgba(218, 216, 216, 0.442);
        &:last-child{
            margin-bottom: 50px;
        }
    }
    ion-item::part(native) {
        // background: transparent;
        // border-bottom: 1px solid rgb(175, 175, 175);
        margin-top: 5px;
        margin-left: 2.5%;
        margin-bottom: 5px;
        width: 95%;
        background: rgba(255, 255, 255, 0.515);
        backdrop-filter: blur(1.5px);
        // --backdrop-opacity:0.5;
        border-radius:10px;
        box-shadow: 0 0px 5px 5px rgba(230, 230, 230, 0.471);
        .item-inner::ng-deep{
            border: 0;
            --border:0;
            --border-color: transparent
        }
    }.item-inner {
        --border-color: transparent
    }
}
.add_btn {
    position: fixed;
    width: 100%;
    left: 0;
    height: 54px;
    top: 300px;
    margin: 0;
    margin-top: 10px;
    box-shadow: 0 5px 10px 5px rgba(238, 238, 238, 0.618);
    z-index: 5;
}